:root {
    --white-color: white;
    --black-color: black;
    --main-color: rgb(43, 0, 0);
    --footer-color: rgb(30, 0,0);
    --input-focus-bg-color: rgb(50, 50, 50);
    --input-bg-color: rgb(25, 25, 25);
    --button-color: var(--main-color);
    --button-hover-color: whitesmoke;
    --poster-size: 95%;
    --header-height: 100px;
}

html, body {
    margin: 0px; 
    padding: 0px;
    height: 100%;
    text-align: center;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

li {
    list-style-type: none;
}

hr{
    width: 30px;
    height: 3px;
    background: var(--black-color);
    border: 0px;
    margin: 0 auto 40px auto;
    
}
.btn {
    color: var(--white-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn:hover {
    color: var(--black-color);
    background-color: var(--button-hover-color);
    border-color:var(--button-hover-color);
}

/* ----------------------------------------------------------------------------------------- HEADER ------------------------------------------------------------------------------------------- */

header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background: var(--black-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);;
    z-index:1;
}

#header_logo {
    width: 140px;
    height: calc((var(--header-height) / 2));
    float: left;
    margin: 15px 0 0 20px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

#header_logo:hover  {
    opacity: 0.5;
    
}

#header_logo img {
    width: 100%;
    height: 100%;
}

header nav {
    float: right;
    margin: 10px 50px 0 1450px;
    color:var(--white-color);
}

header nav ul li {
    float: left;
    margin-right: 25px;
}

header nav ul li:hover {
    padding-top: 5px;
}

#nav_konto, #nav_kontakt {
    padding-top: 5px;
}

#nav_konto:hover, #nav_kontakt:hover {
    padding-top: 10px;
}

/* #nav_search:hover {
    padding-top: 5px;
} */

/* ------------------------------------------------------------------------------------------ BODY ------------------------------------------------------------------------------------------- */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: var(--main-color);    
}

body div ul li{
    display: inline;
    float: left;
    margin-right: 25px;
    margin-top: 20px;
}

#body-container {
    display: grid;
    grid-template-columns: repeat(5, 270px);
    grid-template-rows: repeat(2, auto); 
    place-items:center;
    padding: calc(var(--header-height) - 10px) 0 40px 0;
    color: var(--white-color);
}

#body-container .movie_img {
    width: var(--poster-size);
    padding: 5px;
}

/* -------------------------------------------------------------------------------------- SEARCH POPUP ---------------------------------------------------------------------------------------- */

.form-control {
    width: 760px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: var(--white-color);
    background-color: var(--black-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-popup {
    display: none;
    position: fixed;
    top: 65px;
    right: 160px;
    border: 3px solid var(--black-color);
    z-index: 9;
    background-color: var(--black-color);
  }

.form-container {
    padding: 10px;
    background-color: var(--black-color);
  }

.form-container input[type=text] {
    width: 85%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: var(--input-bg-color);
  }

.form-container input[type=text]:focus {
    background-color: var(--input-focus-bg-color);
    outline: none;
  }

  /* ------------------------------------------------------------------------------------ CENTER POPUP ---------------------------------------------------------------------------------------- */

.center-popup {
    display: none;
    grid-template-columns: repeat(2,620px);
    grid-template-rows: repeat(3,fit-content(40%));
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 30px 0 30px 0;
    --movie-play-time-button-width: 100px;
}

.center-popup #movie_img_big {
    width: 400px;
    padding-top: 25px
}

.center-popup #movie-details{
    display: grid;
    grid-template-columns: fit-content(100%);
    grid-template-rows: repeat(6,fit-content(100%));
    text-align: left;
}

.center-popup #movie-details :is(#movie-length-all,#movie-age-restriction-all,#movie-release-date-all){
    display: grid;
    grid-template-columns: repeat(2,fit-content(40%));
    grid-template-rows: fit-content(40%);
}

.center-popup #movie-details :is(#movie-title,#movie-release-date) {
    margin-bottom: -3px;
}

.center-popup #movie-details :is(#movie-length-header,#movie-length,#movie-age-restriction-header,#movie-age-restriction,#movie-release-date-header,#movie-desc-header) {
    margin-bottom: -15px;
    padding-right: 15px;
}

.center-popup #movie-details #movie-desc {
    padding-right: 15px;
    margin-right: 20px;
}

.center-popup #movie-play-times-buttons {
    display: grid;
    grid-template-columns: repeat(4,fit-content(40%));
    grid-template-rows: 40px;
    place-content: center;
}

.center-popup #movie-play-times-buttons :is(#first-time-btn,#second-time-btn,#third-time-btn) {
    margin-right: 20px;
    min-width: var(--movie-play-time-button-width);
}

.center-popup #movie-play-times-buttons #fourth-time-btn {
    min-width: var(--movie-play-time-button-width);
}

.center-popup #movie-play-times-buttons :is(#first-time,#second-time,#third-time,#fourth-time),
.center-popup :is(#continue-text,#abort-text) {
    margin: 0;
}

.center-popup #actions {
    display: grid;
    grid-template-columns: repeat(2,fit-content(40%));
    grid-template-rows: 40px;
    place-content: center;
}

.center-popup :is(#continue-btn,#abort-btn){
    min-width: 250px;
    margin-right: 20px;
}

/* ------------------------------------------------------------------------------------- SEATPLAN POPUP --------------------------------------------------------------------------------------- */

#seatplan-popup {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #ffff;
}

#seatplan-popup #movie-container {
    margin: 20px 0;
}

#seatplan-popup #movie-title-seatplan {
    background-color: #ffff;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
}

#seatplan-popup #showcase {
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    display: flex;
    justify-content: space-between;
}

#seatplan-popup #showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

#seatplan-popup #showcase li small {
    margin-left: 2px;
}

#seatplan-popup #movie-container {
    perspective: 1000px;
    margin-bottom: 30px;
}

#seatplan-popup .screen {
    background-color: #ffff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

#seatplan-popup .row {
    display: flex;
}

#seatplan-popup .seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#seatplan-popup .seat.selected {
    background-color: #6feaf6;
}

#seatplan-popup .seat.occupied {
    background-color: #ffff;
}

#seatplan-popup .seat:nth-of-type(2) {
    margin-right: 18px;
}

#seatplan-popup .seat:nth-last-of-type(2) {
    margin-left: 18px;
}

#seatplan-popup .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

#seatplan-popup #showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

/* ----------------------------------------------------------------------------------------- FOOTER ------------------------------------------------------------------------------------------- */

footer {
      width: 100%;
      display: flex;      
      position: fixed;
      bottom: 0;
      color: var(--white-color);
      font-size: smaller;
      border-top: 1px solid var(--white-color);
      justify-content: center;
      align-items: center;
      background-color: var(--footer-color);
}