:root {
    --first-main-color: hsl(0, 0%, 100%);
    --second-main-color: hsl(0, 0%, 0%);
    --accent-color: hsl(50, 100%, 50%);

    --button-color: var(--second-main-color);
    --footer-color: var(--second-main-color);

    --button-hover-color: hsl(0, 0%, 25%);

    --font-color: var(--first-main-color);
    
    --poster-size: 95%;
    --header-height: 100px;
    --footer-height: calc((var(--header-height)/2px)-(var(--header-height)/10px));
}

html, body {
    margin: 0px; 
    padding: 0px;
    height: 100%;
    text-align: center;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

li {
    list-style-type: none;
}

hr{
    width: 30px;
    height: 3px;
    background: var(--second-main-color);
    border: 0px;
    margin: 0 auto 40px auto;
    
}
.btn {
    color: var(--font-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn:hover {
    color: var(--accent-color) !important;
    border-color: var(--first-main-color) !important;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-main-color);
    color: var(--first-main-color);
    border-radius: .25rem;
    text-align: center;
    cursor: text;
}

.align-left {
    text-align: left;
}

.swal-button {
    color: var(--font-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem; 
  }

  .swal-button:hover{
    color: var(--accent-color) !important;
    border-color: var(--first-main-color) !important;
  }

/* ----------------------------------------------------------------------------------------- HEADER ------------------------------------------------------------------------------------------- */

header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    display: grid;
    grid-template-columns: 200px 450px;
    grid-template-rows: fit-content(100%);
    top: 0;
    left: 0;
    background: var(--first-main-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);;
    z-index:1;
}

#header_logo {
    padding-top: 10px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

#header_logo:hover  {
    opacity: 0.5;
    
}

#header_logo img {
    width: 100%;
    height: 100%;
}

header #header_buttons_and_timestamp {
    display: grid;
    grid-template-columns: repeat(4,fit-content(100%));
    grid-template-rows: 40px;
    padding-left: 500px;
    padding-top: 30px;
}

header :is(#header_ticket_search,#header_timestamp,#header_contact) {
    min-height: 40px;
    max-height: 40px;
    margin-right: 20px;
}

header :is(#header_timestamp, #header_contact, #header_cookie){
    min-height: 46px;
    max-height: 46px;
}

header #header_ticket_search{
    max-width: 200px;
    min-width: 150px;
}

header #header_timestamp {
    width: 150px;
}

header #header_contact {
    width: 100px;
}

header #header_cookie {
    width: 250px;
}

/* ------------------------------------------------------------------------------------------ BODY ------------------------------------------------------------------------------------------- */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}

body div ul li{
    display: inline;
    float: left;
    margin-right: 25px;
    margin-top: 20px;
}

#body-container {
    display: grid;
    grid-template-columns: repeat(5, 270px);
    grid-template-rows: repeat(2, auto); 
    place-items: center;
    padding: calc(var(--header-height) - 10px) 0 40px 0;
    color: var(--font-color);
}

#body-container .movie_img {
    width: var(--poster-size);
    padding: 5px;
    cursor:pointer;
}

#body-bg-splitter {
    z-index: -1;
    position: fixed;
    top:var(--header-height);
    left:0;
    height: 50%;
    width: 100%;
    background-color: var(--second-main-color);
}

/* -------------------------------------------------------------------------------------- SEARCH POPUP ---------------------------------------------------------------------------------------- */

.form-control {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: var(--font-color);
    background-color: var(--second-main-color);
    background-clip: padding-box;
    border-radius: .25rem;
}

.form-popup {
    display: none;
    position: fixed;
    top: 65px;
    right: 160px;
    border: 3px solid var(--second-main-color);
    z-index: 9;
    background-color: var(--second-main-color);
  }

.form-container {
    padding: 10px;
    background-color: var(--second-main-color);
  }

.form-container input[type=text] {
    width: 85%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: var(--second-main-color);
  }

.form-container input[type=text]:focus {
    background-color: var(--button-hover-color);
    outline: none;
  }

  /* ------------------------------------------------------------------------------------ CENTER POPUP ---------------------------------------------------------------------------------------- */

.center-popup {
    display: none;
    grid-template-columns: repeat(2,580px);
    grid-template-rows: repeat(3,fit-content(40%));
    background-color: var(--first-main-color);
    color: var(--second-main-color);
    padding: 30px 0 30px 0;
    border: 5px solid var(--second-main-color);
    --movie-play-time-button-width: 100px;
}

#movie-popup #movie_img_big {
    width: 370px;
    padding-top: 25px
}

#movie-popup #movie-details{
    display: grid;
    grid-template-columns: fit-content(100%);
    grid-template-rows: repeat(6,fit-content(100%));
    text-align: left;
}

#movie-popup #movie-details :is(#movie-length-all,#movie-age-restriction-all,#movie-release-date-all){
    display: grid;
    grid-template-columns: repeat(2,fit-content(40%));
    grid-template-rows: fit-content(40%);
}

#movie-popup #movie-details :is(#movie-title,#movie-release-date) {
    margin-bottom: -3px;
}

#movie-popup #movie-details :is(#movie-length-header,#movie-length,#movie-age-restriction-header,#movie-age-restriction,#movie-release-date-header,#movie-desc-header) {
    margin-bottom: -15px;
    padding-right: 15px;
}

#movie-popup #movie-details #movie-desc {
    padding-right: 15px;
    margin-right: 20px;
}

#movie-popup #movie-play-times-buttons {
    display: grid;
    grid-template-columns: repeat(4,fit-content(40%));
    grid-template-rows: 40px;
    place-content: center;
}

#movie-popup #movie-play-times-buttons :is(#first-time-btn,#second-time-btn,#third-time-btn) {
    margin-right: 20px;
    min-width: var(--movie-play-time-button-width);
}

#movie-popup #movie-play-times-buttons #fourth-time-btn {
    min-width: var(--movie-play-time-button-width);
}

#movie-popup #movie-play-times-buttons :is(#first-time,#second-time,#third-time,#fourth-time),
.center-popup :is(#continue-text,#abort-text) {
    margin: 0;
}

#movie-popup .actions {
    display: grid;
    grid-template-columns: repeat(2,fit-content(40%));
    grid-template-rows: 40px;
    place-content: center;
}

.center-popup :is(#continue-btn,#abort-btn){
    min-width: 250px;
    margin-right: 20px;
}

.center-popup #continue-btn {
    display: none;
}

/* ------------------------------------------------------------------------------------- SEATPLAN POPUP --------------------------------------------------------------------------------------- */

#reservation-popup {
    display: none;
}

#reservation-popup :is(#seatplan-popup, #summary-popup) {
    width: 584px;
    height: 580px;
    margin-left: 20px;
}

#reservation-popup #seatplan-popup #showcase {  
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    grid-template-rows: fit-content(100%);
    background-color: var(--second-main-color);
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 15px;
    width: 480px;
    color: var(--first-main-color);
}

#reservation-popup #seatplan-popup #showcase .showcase-item {
    margin-left: 75px;
}

#reservation-popup #seatplan-popup #showcase #free-seat {
    background-color: var(--first-main-color);
}

#reservation-popup #seatplan-popup #showcase small {
    margin-left: 2px;
}

#reservation-popup #seatplan-popup #showcase #selected {
    margin-left: -4px;
}

#reservation-popup #seatplan-popup #showcase #occupied {
    margin-left: -19px;
}

#reservation-popup #seatplan-popup #seatplan-container {
    margin-left: 25px;
}

#reservation-popup #seatplan-popup .screen {
    background-color: var(--second-main-color);
    height: 205px;
    width: 480px;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

#reservation-popup #seatplan-popup .row {
    display: flex;
}

#reservation-popup #seatplan-popup .seat {
    background-color: var(--second-main-color);
    height: 40px;
    width: 51px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#reservation-popup #seatplan-popup .seat.selected {
    background-color: var(--accent-color);
}

#reservation-popup #seatplan-popup .seat.occupied {
    background-color: hsl(355, 50%, 35%);
}

#reservation-popup #seatplan-popup .seat:nth-of-type(2) {
    margin-right: 18px;
}

#reservation-popup #seatplan-popup .seat:nth-last-of-type(2) {
    margin-left: 18px;
}

#reservation-popup #seatplan-popup .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

#reservation-popup #seatplan-popup #showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

#reservation-popup #summary-popup :is(#movie-picked-container, #show-picked-container, #seat-picked-container, #total-price-container,#your-data-form) {
    display: grid;
    grid-template-columns: repeat(2,fit-content(100%));
    grid-template-rows: fit-content(100%);
    perspective: 1000px;
    margin-top: 15px;
    margin-bottom: 32.5px;
}

#reservation-popup #summary-popup :is(#selected-movie, #movie-title-seatplan, #selected-show, #show-seatplan, #selected-seats, #seats-seatplan, #total-price, #total-price-seatplan, #your-data, #your-firstname, #your-lastname, #your-email, #your-phone) {
    font-size: 16px;
    margin: 0 10px;
    width: 220px;
    font-weight: 400;
    text-align: center;
    cursor: text;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

#reservation-popup #summary-popup :is( #selected-movie, #selected-show, #selected-seats, #total-price) {
    background-color: var(--second-main-color);
}

#reservation-popup #summary-popup :is(#movie-title-seatplan, #show-seatplan, #seats-seatplan, #total-price-seatplan, #caption) {
    background-color: var(--first-main-color);
    color: var(--second-main-color);
    font-weight: 600;
    border: 1px solid var(--second-main-color);
}

#reservation-popup #summary-popup :is(#caption) {
    border: none;
    width: 100%;
}

#reservation-popup #summary-popup #your-data-container {
    background-color: var(--first-main-color);
    color: var(--second-main-color);
    border: 1px dashed var(--second-main-color);
    display: grid;
    grid-template-columns: fit-content(100%);
    width: max-content;
    height: max-content;
}

#reservation-popup #summary-popup #your-data-container #your-data {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: -9px;
}

#reservation-popup #summary-popup :is(#your-firstname, #your-lastname, #your-email, #your-phone) {
    text-align: left;
    margin-bottom: 15px;
}


#reservation-popup #summary-popup #last-actions {
    margin-top: 35px;
    margin-right: 45px;
}

#reservation-popup #summary-popup :is(#back-btn, #submit-your-data){
    min-width: 250px;
}

#reservation-popup #summary-popup #back-btn{
    margin-right: 15px;
}


/* ----------------------------------------------------------------------------------------- FOOTER ------------------------------------------------------------------------------------------- */

footer {
    height: var(--footer-height);
    width: 100%;
    display: flex; 
    position: fixed;
    bottom: 0;
    color: var(--font-color);
    font-size: smaller;
    border-top: 1px solid var(--footer-color);
    justify-content: center;
    align-items: center;
    background-color: var(--footer-color);
}